/* BUTTONS STYL */


/* Header buttons */
.menu-side,
.gotoanything,
.editor,
.notification,
.menu,
.filemenu,
.tabsicon,
.back,
.close,
.close-notification
.copy,
.cut,
.delete,
.download,
.add-button
	display: block
	width: 48px !important
	height: 48px !important
	flex: 0 0 48px
	
.menu-side
	background: url('img/explorer/menu.png') no-repeat center
	background-size: 24px
	
.gotoanything
	background: url('img/explorer/goto-anything.png') no-repeat center
	background-size: 24px

.editor
	background: url('img/explorer/editor.png') no-repeat center
	background-size: 24px

.notification
	background: url('img/explorer/notification.png') no-repeat center
	background-size: 24px

.menu
	background: url('img/explorer/dots-vertical.png') no-repeat center
	background-size: 24px

.filemenu
	background: url('img/explorer/dots-horizontal.png') no-repeat center
	background-size: 24px

.tabsicon
	background: url('img/explorer/tabs.png') no-repeat center
	background-size: 24px

.back
	background: url('img/back.png') no-repeat center
	background-size: 24px !important
	
.close
	background: url('img/close.png') no-repeat center
	background-size: 24px !important

.save
	background: url('img/explorer/save.png') no-repeat center
	background-size: 24px !important

/* overwrite for right sidebar */
.save.menu-item-wrapp
	background: none
/* /overwrite for right sidebar */

.copy
	background: url('img/explorer/copy.png') no-repeat center
	background-size: 24px !important

.cut
	background: url('img/explorer/cut.png') no-repeat center
	background-size: 24px !important

.delete
	background: url('img/explorer/delete.png') no-repeat center
	background-size: 24px !important
	/* overwrite */
	background-color: transparent !important

.download
	background: url('img/explorer/download.png') no-repeat center
	background-size: 24px !important

.add-button
	background: url('img/explorer/new-folder.png') no-repeat center
	background-size: 24px !important

/** Wizard buttons are located in "wizard.styl" **/


/* Revision buttons */
.close-notification
	background: url('img/close.png') no-repeat center
	background-size: 24px !important




/* Find & Replace buttons */
.left-arrow
	background: url('img/explorer/arrow-left.png') no-repeat center
	background-size: 26px !important

.right-arrow
	background: url('img/explorer/arrow-right.png') no-repeat center
	background-size: 26px !important


.replace-wrapper
	button
		width: 100% !important
		height: 100% !important
		color: color4
		min-width: auto !important
		text-transform: initial
		font-size: 14px
		
	input
		margin-left: 12px





















