/* SAVE AS STYL ======================================= */

/* overwrite height */ 
.saveas-wrapper > .tr-layout-auto.tr-panel
    height: 100%

/* overwrite for SaveAs Destination - explorer height */
.saveas-wrapper .body-wrapper > .tr-layout-auto.tr-panel
    height: calc(100% - 56px)

    .fileexplorer
        height: 100%

/* /overwrite for SaveAs Destination - explorer height */





/* Save As Header is handled in "fileExplorer.styl" */

/* Buttons are handled in "explorer/buttons.styl" */


/* Save As - Body ======================= */
.saveas-wrapper .body-wrapper
    height: calc(100% - 56px)
    background: color2



/* Save As Content ======================= */
.saveas-wrapper .body-wrapper .saveas-content
    height: calc(100% - 56px)

    .destination-wrap

        label
            display: block
            box-sizing()
            padding: 0 16px
            ellipsis()
            margin: 10px 0 5px 0

        .destination
            flexbox()
            flex-flow: row nowrap
            align-items: center
            height: 56px
            border-top: 1px solid color3
            border-bottom: 1px solid color3
                
            .destination-icon
                flexbox()
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                flex-grow: 0
                flex-shrink: 0

            .destination-desc
                flexbox()
                align-items: center
                box-sizing()
                padding: 0 16px
                ellipsis()
                width: 100%
                height: 56px

    
    
/* Save As buttons */
.saveas-wrapper .body-wrapper .saveas-buttons
    height: 56px


    button
        background: color2
        height: 56px !important
        font-size: 12px
        box-sizing()
        padding: 0 16px



