/* SHARE DIALOG ======================================= */
.share-wrap
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    flexbox()
    flex-flow: column nowrap
    background: color3

    /* Done button */
    .share-header__done
        flexbox()
        justify-content: center
        align-items: center
        height: 48px
        box-sizing()
        padding: 0 16px
        text-transform: uppercase
        font-size: 12px

	/* Input overwrite */
	input
		margin-top: 0



    /* Header Tabs is handled in "fileExplorer.styl" */
    


	.share-bot
		height: calc(100% - 56px)
		flex-flow: column nowrap
		box-sizing()
		overflow: auto

		.share-main
			box-sizing()
			padding-top: 16px
			padding-bottom: 16px

		


.share-link

	/* Share Button */
	.share-link__button
		flexbox()
		flex-flow: row nowrap
		align-items: center

		.share-link__button--icon
			margin-left: 10px
			width: 20px
			height: 20px
			background: url(img/explorer/sharelink.png) no-repeat center
			background-size: 20px





.invite-people
	margin-top: 20px
	flexbox()
	flex: 1
	flex-direction: column

	label
		color: color4
		font-size: 11px
		font-weight: 300
		letter-spacing: 0.2px
		padding-bottom: 10px

	input
		font-size: 14px
		padding: 5px 10px 10px 5px
		box-sizing()
		display: block
		border: none
		flex: 1 0 auto


	/* Share List */
	.crazy-input-wrap:empty
		display: none
		margin-top: 0
	
	.crazy-input-wrap
		width: 100%
		flexbox()
		flex-flow: row wrap
		margin-top: 10px
		overflow-x: hidden

		.bar
			width: 100%
			height: 1px
			background: color4


		.share-list-item
			flexbox()
			flex-flow: row nowrap
			justify-content: center
			align-items: center
			min-width: 50px
			background: color1
			border: none
			border-radius(10px)
			box-sizing()
			padding: 5px 6px 5px 10px
			margin: 0 5px 5px 0

			.share-list-item__text
				font-size: 11px

			.share-list-item__icon
				width: 14px
				height: 14px
				margin-left: 6px
				background: url('img/close.png')
				background-position: center
				background-repeat: no-repeat
				background-size: 14px



.shared-with
	flexbox()
	flex-flow: column nowrap
	width: 100%
	border-top: 1px solid color4a12
	box-sizing()
	padding-bottom: 16px !important
	padding-top: 10px !important
	margin-top: 16px


	.sw-title
		font-size: 16px
		color: color4a5
		height: 40px
		flexbox()
		align-items: center
		margin-bottom: 10px

	.sw-list
		flexbox()
		flex-flow: column nowrap

		.sw-list__item
			flexbox()
			flex-flow: row nowrap
			align-items: center
			height: 30px
			margin-bottom: 5px

			.sw-list__item--email
				font-size: 14px
				color: color4
				width: calc(100% - 46px)
				ellipsis()

			.sw-list__item--btn
				flexbox()
				width: 36px
				margin-left: 10px




.btn-edit
	flexbox()
	flex-flow: row nowrap
	width: 100%

	i
		width: 18px
		height: 18px
	
	i.pen
		background: url(img/explorer/edit.png) no-repeat center
		background-size: 18px

	i.caret-down
		background: url(img/explorer/caret-down.png) no-repeat center
		background-size: 16px













/* MUI INPUT 2 */
.mui-input2
	flexbox()
	flex-flow: column nowrap

	label
		color: color4
		font-size: 11px
		font-weight: 300
		letter-spacing: 0.2px

	input
		font-size: 14px
		padding: 10px 10px 10px 5px
		box-sizing()
		display: block
		width: 100%
		border: none
		border-bottom: 1px solid color13

	.bar
		width: 100%
		height: 1px
		background: color4







/* Padding for main content */
.screen-padding
	box-sizing()
	padding: 0 16px