/* CHECKBOX STYL ======================================= */


.checkbox-row
    width: 100%
    flexbox()
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    box-sizing()
    padding: 0 16px

    .checkbox__box
        flexbox()
        justify-content: center
        align-items: center
    
    .checkbox__span
        margin-left: 10px
        font-size: 12px



/* CHECKBOX REPLACEMENT ======================== */
input[type=checkbox]
    visibility: hidden


/* CHECKBOX */
.checkbox
    width: 16px
    position: relative


    label
        cursor: pointer
        position: absolute
        width: 12px
        height: 12px
        top: 0
        left: 0
        border-radius: 4px
        border: 2px solid color4

    label:after
        opacity: 0
        content: ''
        position: absolute
        width: 12px
        height: 12px
        background: url(img/explorer/check.png) no-repeat center
        background-size: 12px
        top: 0
        left: 0

    label:hover::after
        opacity: 0.3

    input[type=checkbox]:checked + label:after
        opacity: 1
