/* COLOR PALETE ======================================= */

/***** Monokai *****/

color0 = transparent
color000 = #000
color1 = #3a3333
color2 = #2f2a2a
color3 = #463e3e
color4 = #d6cbcb
color4a12 = rgba(214, 203, 203, 0.12)
color4a5 = rgba(214, 203, 203, 0.5)
color5 = #1b1716
color6 = #7e3f98
color7 = #fff
color8 = #313131
color9 = #393939
color10 = #717171
color11 = #222
color12 = #aaa
color13 = #ccc
pureRed = #ff0000
lightYellow = #fef177
lightRed = #e53934
lightGreen = #379237
keyboard = #d1d6d9



